<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'add'">Add literal for {{model.name}}</h2>
<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'edit'">Edit literal</h2>

<mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="close()" class="">

    <mat-form-field class="nameform w-100">
      <input class="w-100" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </form>
  <div class="error" *ngIf="!isValid">
    <p>All fields are required</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="text-right">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="close()" type="submit" color="primary">OK</button>
  </div>
</mat-dialog-actions>
