@import "../../../../../styles";

.red {
  color: $red;
}

button {
  outline: none !important;

  padding-top: 5px;
  padding-bottom: 5px;
}

.buttons {
  text-align: center;
  margin: 0 auto;
}

.holder{
  padding: 5px;
}
