/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

$header-background: #007bff;
$header-title: #fff;

$blue: #1b65d0;
$dark-blue:#1c2a4f;
$dark-dark-blue:#141829;

$light-grey: #dedede;

$red: #f44336;


.scale-in-center {
  animation: scale-in-center 0.200s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.cstm-input::placeholder{
  color: #8c8c8c;
  font-size: 12px;
}

.sm-btn {
  color: $blue;
  font-size: 16px;
  background-color: #fff;
  width: 25px;
  border: unset;
  outline: none;
  border-radius: 2px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #e2e2e2;
  }

}


.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body div.mxPopupMenu {
  -webkit-box-shadow: 3px 3px 6px #C0C0C0;
  -moz-box-shadow: 3px 3px 6px #C0C0C0;
  box-shadow: 3px 3px 6px #C0C0C0;
  background: white;
  position: absolute;
  border: 3px solid #cbcbcb;
  padding: 3px;
}
body table.mxPopupMenu {
  border-collapse: collapse;
  margin: 0px;
}
body tr.mxPopupMenuItem {
  color: black;
  cursor: default;
}
body td.mxPopupMenuItem {
  padding: 6px 30px 6px 10px;
  font-family: Arial;
  font-size: 10pt;
}
body td.mxPopupMenuIcon {
  background-color: white;
  padding: 0px;
}
body tr.mxPopupMenuItemHover {
  background-color: #eeeeee;
  color: black;
}
table.mxPopupMenu hr {
  margin:unset;
  border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
  font-size: 4pt;
}
