@import "~src/styles";

button{
  outline:none !important;
}

.nameform{
  input{
    width:100%;
  }
}

mat-dialog-actions {
  float: right;

  button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.error {
  color: $red;
  font-size: 14px;
  text-align: center;

  p {
    margin-bottom: unset;
  }
}
