<h2 mat-dialog-title class="mb-3">Edit enumeration {{enumModel.name}} </h2>


<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="close()">
    <mat-form-field class="nameform">
      <input class="w-100" matInput placeholder="Name" formControlName="name">
    </mat-form-field>
  </form>
  <div class="error" *ngIf="!isValid">
    <p>All fields are required</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-button (click)="close()" type="submit" color="primary">OK</button>
  </div>
</mat-dialog-actions>
