<h2 mat-dialog-title class="mb-3">Edit Association </h2>

<mat-dialog-content>

  <div class="preview">

    <span class="link">
      <div class="line"></div>
    </span>

    <span class="source">
      <div class="classname">{{source.name}}</div>
      <div class="aria" *ngIf="sourceValues.navigable === 'true'">
        <div class="role">{{sourceValues.role}}</div>
        <div class="multiplicity">{{sourceValues.multiplicity}}</div>
      </div>
      <div class="end">
        <span *ngIf="targetValues.referenceType === 'Aggregation'">
          <img class="icon" src="assets/icons/diamond-regular.svg">
        </span>
        <span *ngIf="targetValues.referenceType === 'Composition'">
          <img class="icon" src="assets/icons/diamond-solid.svg">
        </span>
        <span *ngIf="sourceValues.navigable === 'true' && targetValues.navigable === 'false'
        && (targetValues.referenceType !== 'Aggregation' || targetValues.referenceType !== 'Composition')"
              class="navig-icon">
          <img src="assets/icons/angle-right-light.svg"/>
        </span>
      </div>
    </span>


    <span class="target">
      <div class="classname">{{target.name}}</div>
      <div class="aria" *ngIf="targetValues.navigable === 'true'">
        <div class="role">{{targetValues.role}}</div>
        <div class="multiplicity">{{targetValues.multiplicity}}</div>
      </div>
      <div class="end">
        <span *ngIf="targetValues.navigable === 'true' && sourceValues.navigable === 'false'" class="navig-icon">
          <img src="assets/icons/angle-right-light.svg"/>
        </span>
        <span *ngIf="sourceValues.referenceType === 'Aggregation'">
          <img class="icon" src="assets/icons/diamond-regular.svg">
        </span>
        <span *ngIf="sourceValues.referenceType === 'Composition'">
          <img class="icon" src="assets/icons/diamond-solid.svg">
        </span>
      </div>

    </span>

  </div>

  <table cdkFocusRegionstart>

    <tr class="roleName">

      <td>
        <input [(ngModel)]="sourceValues.role" name="sourceRole"/>
      </td>
      <td class="middle">Role name</td>
      <td>
        <input [(ngModel)]="targetValues.role" name="targetRole"/>
      </td>


    </tr>


    <tr class="multiplicity">

      <td>
        <input matInput [(ngModel)]="sourceValues.multiplicity" type="text" name="sourceRole"/>
      </td>
      <td class="middle">Multiplicity</td>
      <td>
        <input matInput [(ngModel)]="targetValues.multiplicity" type="text" name="targetRole"/>
      </td>


    </tr>

    <tr class="referenceType">
      <td>
        <mat-button-toggle-group [(ngModel)]="targetValues.referenceType">
          <mat-button-toggle disableRipple value="Regular" matTooltip="Regular" matTooltipPosition="below">
            <span class="regular-icon">―</span>
          </mat-button-toggle>
          <mat-button-toggle disableRipple value="Aggregation"
                             matTooltip="Aggregation" matTooltipPosition="below">
            <img class="icon" src="assets/icons/diamond-regular.svg">
          </mat-button-toggle>
          <mat-button-toggle disableRipple value="Composition"
                             matTooltip="Composition" matTooltipPosition="below">
            <img class="icon" src="assets/icons/diamond-solid.svg">
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>

      <td class="middle">
        Reference Type
      </td>

      <td>
        <mat-button-toggle-group [(ngModel)]="sourceValues.referenceType">
          <mat-button-toggle disableRipple value="Regular" matTooltip="Regular" matTooltipPosition="below">
            <span class="regular-icon">―</span>
          </mat-button-toggle>
          <mat-button-toggle disableRipple value="Aggregation"
                             matTooltip="Aggregation" matTooltipPosition="below">
            <img class="icon" src="assets/icons/diamond-regular.svg">
          </mat-button-toggle>
          <mat-button-toggle disableRipple value="Composition"
                             matTooltip="Composition" matTooltipPosition="below">
            <img class="icon" src="assets/icons/diamond-solid.svg">
          </mat-button-toggle>
        </mat-button-toggle-group>
      </td>

    </tr>
    <!--
        <tr class="navigable">
          <td>
            <mat-button-toggle-group [(ngModel)]="sourceValues.navigable">
              <mat-button-toggle disableRipple style="outline:none" value="true">
                Yes
              </mat-button-toggle>
              <mat-button-toggle disableRipple style="outline:none" value="false"
                                 [disabled]="targetValues.navigable === 'false'">
                No
              </mat-button-toggle>
            </mat-button-toggle-group>
          </td>

          <td class="middle">Navigable</td>

          <td>
            <mat-button-toggle-group [(ngModel)]="targetValues.navigable">
              <mat-button-toggle disableRipple value="true">
                Yes
              </mat-button-toggle>
              <mat-button-toggle disableRipple value="false" [disabled]="sourceValues.navigable === 'false'">
                No
              </mat-button-toggle>
            </mat-button-toggle-group>

          </td>
        </tr>
        -->



  </table>

  <div class="navigable">
    <div class="tt">
      Navigability
    </div>
    <mat-button-toggle-group [(ngModel)]="navigability" (ngModelChange)="updateNavigability()">
      <mat-button-toggle disableRipple style="outline:none" value="left">
        <img class="icon" src="assets/icons/navigable-left.png">
      </mat-button-toggle>
      <mat-button-toggle disableRipple style="outline:none" value="both">
        <img class="icon" src="assets/icons/navigable-both.png">
      </mat-button-toggle>
      <mat-button-toggle disableRipple style="outline:none" value="right">
        <img class="icon" src="assets/icons/navigable-right.png">
      </mat-button-toggle>
    </mat-button-toggle-group>

  </div>


  <div class="error" *ngIf="!isValid">
    <p>All fields are required</p>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <div class="">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-button (click)="validate()" type="submit" color="primary">OK</button>
  </div>
</mat-dialog-actions>
