@import "~src/styles";

h2 {
  text-align: center;

}

.preview {
  position: relative;
  width: 400px;
  padding: 10px;
  margin: 20px auto 60px;
  text-align: center;

  .source {
    position: absolute;
    top: 5px;
    left: 0;

    .aria {
      margin-left: 25px;
      text-align: left;
      position: absolute;
      left: 100%;
      top: -5px;
      width: fit-content;
    }

    .end {
      position: absolute;
      left: 100%;
      top: 5px;
      width: fit-content;

      span {
        background-color: #fff;

        .icon {
          transform: rotate(90deg);
          width: 15px;
        }
      }

      .navig-icon {
        background-color: unset;

        img {
          transform: rotate(180deg);
          width: 10px;
        }
      }
    }
  }

  .target {
    position: absolute;
    top: 5px;
    right: 0;

    .aria {
      margin-right: 25px;
      text-align: right;
      position: absolute;
      width: fit-content;
      right: 100%;
      top: -5px;
    }

    .end {
      position: absolute;
      right: 100%;
      top: 5px;
      width: fit-content;

      span {
        background-color: #fff;

        .icon {
          transform: rotate(90deg);
          width: 15px;
        }
      }

      .navig-icon {
        background-color: unset;

        img {
          width: 10px;
        }
      }
    }
  }

  .link {
    position: absolute;
    top: 22px;
    left: 0;

    .line {
      border-top: 2px solid black;
      width: 400px;
    }
  }

  .aria {
    padding-bottom: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);

    .role {
      margin-bottom: 13px;
    }

    .multiplicity {
    }
  }

  .classname {
    background-color: #fff;
    padding: 4px 8px;
    border: 2px solid $blue;
    border-radius: 3px;
    min-width: 60px;
  }


}

table {

  td {
    padding: 8px;
  }

  width: 100%;
  text-align: center;

  .head {
    font-size: 17px;
    text-align: center;

    td {
      padding-bottom: 10px;
    }
  }

  .middle {
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-size: 14px;
  }

  .referenceType {

    mat-button-toggle {
      width: 50px;
      height: 50px;
    }

    .regular-icon {
      font-weight: 700;
      font-size: 16px;
      padding-bottom: 2px;
    }

    .icon {
      transform: rotate(90deg);
      width: 15px;
    }
  }



  .roleName, .multiplicity {
    input {
      width: 150px;
      padding-left: 7px;
    }
  }
}

mat-button-toggle-group > * {
  outline: none;
}

.navigable {

  .tt{
    margin-top: 6px;
    margin-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-size: 14px;
  }

  .icon{
    width: 30px;
  }

  text-align: center;
  width: 100%;

  mat-button-toggle {
    padding-left: 6px;
    padding-right: 6px;
    width: 75px;
    height: 50px;
  }
}

mat-dialog-content {
  min-width: 500px;
}

button {
  outline: none !important;
}

mat-dialog-actions {
  float: right;

  button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.error {
  color: $red;
  font-size: 14px;
  text-align: center;

  p {
    margin-bottom: unset;
  }
}
