<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'add'">Add attribute for {{model.name}}</h2>
<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'edit'">Edit attribute</h2>
<mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="close()" class="row">
    <div class="col">
      <mat-form-field class="selectform">
        <mat-label>Type</mat-label>
        <mat-select disableRipple formControlName="type" >
          <mat-option [value]="t" *ngFor="let t of typeOptions">{{t}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col">
      <mat-form-field class="nameform">
        <input matInput placeholder="Name" formControlName="name" >
      </mat-form-field>
    </div>
  </form>
  <div class="error" *ngIf="!isValid">
    <p>All fields are required</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="text-right">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="close()" type="submit" color="primary">OK</button>
  </div>
</mat-dialog-actions>
