@import "../../../../../styles";

.selectform {
  width: 90px;
}

button{
  outline:none !important;
}



.error {
  color:$red;
  font-size: 14px;
  text-align: center;

  p{
    margin-bottom: unset;
  }
}


mat-dialog-actions{
    float:right;

  button{
    padding-top: 5px;
    padding-bottom: 5px;
  }

}
