@import "~src/styles";

button{
  outline:none !important;
}

.slideForm {
  margin-top: 20px;
}

mat-dialog-actions {
  float: right;

  button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.add-operation {
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, .8);
  padding-top: 15px;
  padding-bottom: 15px;

  button {
    border-radius: 4px;
    padding: 5px 10px 5px 4px;
    font-size: 16px;
  }

  .destroy{
    background-color: rgba(244, 67, 54, 0.1);
  }
  .create{
    background-color: rgba(64, 189, 48, 0.1);
  }
}

.error {
  color: $red;
  font-size: 14px;
  text-align: center;

  p {
    margin-bottom: unset;
  }
}
