<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'add' && data.elementType === 'class'">Create Class </h2>
<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'add' && data.elementType === 'enumeration'">Create Enumeration </h2>
<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'add' && data.elementType === 'dataType'">Create Datatype </h2>
<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'edit'">Edit Class {{classModel.name}}</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="close()">
    <div class="row">
      <div class="col">
        <mat-form-field class="nameform">
          <input matInput placeholder="Name" formControlName="name" >
        </mat-form-field>
      </div>
      <div class="col" *ngIf="data.mode === 'edit'">
        <mat-form-field>
          <mat-label>Partiality</mat-label>
          <mat-select disableRipple formControlName="partiality">
            <mat-option [value]="elem" *ngFor="let elem of partialities">{{elem}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="data.mode === 'edit'">
        <mat-slide-toggle class="slideForm" matInput formControlName="abstract">Is Abstract</mat-slide-toggle>

      </div>
      <div class="col" *ngIf="data.mode === 'edit'">
        <mat-form-field>
          <mat-label>Visibility</mat-label>
          <mat-select disableRipple formControlName="visibility">
            <mat-option [value]="elem" *ngFor="let elem of visibilities">{{elem}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="error" *ngIf="!isValid">
    <p>All fields are required</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-button (click)="close()" type="submit" color="primary">OK</button>
  </div>
</mat-dialog-actions>
