<div class="main-container">

  <app-flexible-sidebar (events)="handleSidebarEvents($event)" #sidebar></app-flexible-sidebar>

  <div id="content" [style.padding-left.px]="sidebar.currentSidebarWidth">
    <div #graphContainer id="graphContainer" ></div>
  </div>


</div>

<div class="floating">
  <app-floating-team-panel></app-floating-team-panel>
</div>

<!--
<div class="help">
  <div (click)="showHelp()" class="qblock">
    <mat-icon>help_outline</mat-icon>
  </div>
</div>
-->
