@import "~src/styles";

* {
  user-select: none;
}


#graphContainer {
  background-color: #fff;
  height: 100%;
}


.main-container {

  overflow: hidden;

  & > div {
    height: 100vh;
  }

  #content {
    background-color: #dedede;
    width: 100%;
    transition: padding-left 0.2s ease-out;
  }
}


.floating {
  position: absolute;
  top: 10px;
  right: 15px;
}

.help {
  position: absolute;
  right: 30px;
  bottom: 5px;

  .qblock {
    color: $blue;
    opacity: 0.6;
    transition: opacity 100ms ease-in-out;
    outline: unset;
    cursor: pointer;

    mat-icon {
      font-size: 47px;
    }

    &:hover {
      opacity: 1;
    }

  }
}
