<div *ngFor="let user of usersData | keyvalue" >
  <div>
    <!-- <span *ngIf="user.key === sessionData['sessionId']" >You</span> -->
    <mat-icon
      [ngClass]="{ you : user.key === sessionData['sessionId']}"
      [style.border-color] = "sessionData['color']"
      matTooltipPosition = "before"
      [matTooltip] = "user.value.username"
      [style.color] = "user.value.color">
      face
    </mat-icon>
  </div>
</div>
