h3 {
  margin-bottom: 6px;
  font-weight: 500;
}

a, button {
  outline: unset;
}

.i {
  text-align: center;
}

.row{
  margin-bottom: 11px;
}

.illustr {
  width: 100px;
  margin: 0 auto;

  .fm {
    width: 60px;
  }
}
