<h2 mat-dialog-title><b>Help Manual</b></h2>
<mat-dialog-content class="mat-typography">
  <h3>What is WebCore ?</h3>
  <p>WebCore is a collaborative web interface for the tool <a target="_blank" href="http://touchcore.cs.mcgill.ca/">TouchCore</a>,
    allowing users to interact on a same model.</p>

  <div class="row border-bottom">
    <div class="col-3 i">
      <img class="illustr" src="assets/images/help_class_creation.jpg"/>
    </div>
    <div class="col-9">
      <h3>Class creation</h3>
      <p>Right-click (or Tap-and-hold on touch surface) anywhere on the interface to see the Class creation menu.</p>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-3 i">
      <img class="illustr"  src="assets/images/help_asso_grab.png"/>
    </div>
    <div class="col-9">
      <h3>Entity linking</h3>
      <p>Grab a handle on the side of classes and drop it on another class to create an association
        between these classes.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 i">
      <img class="illustr fm" src="assets/images/help_fast_mode.png"/>
    </div>
    <div class="col-9">
      <h3>Expert Mode</h3>
      <p>When activated, the Expert Mode allows faster interactions, such as elements creation, editing and deleting.</p>
    </div>
  </div>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
