<h2 mat-dialog-title class="title">Server disconnected</h2>
<mat-dialog-content class="mb-2">
  You will be redirected to home page.
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class='bbtn' (click)="ok()">OK</button>
</mat-dialog-actions>
