<div class="holder">

  <h2 mat-dialog-title class="mb-1">Confirm deletion of class {{classModel.name}}</h2>

  <mat-dialog-actions>
    <div class="buttons">
      <button mat-button mat-dialog-close>Cancel</button>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
      <button mat-button (click)="close()" color="warn" cdkFocusInitial>Delete</button>
    </div>
  </mat-dialog-actions>

</div>
