@import "~src/styles";

#sidebar {
  background-color: $blue;
  float: left;
  transition: width 0.2s ease-out;
  position: fixed;
  z-index: 99;

  .bottom-action {
    position: absolute;
    bottom: 0;
  }
}

#sidebar-menu {
  //overflow: hidden;
  float: left;
  padding-top: 20px;
  padding-left: 5px;


  ul {
    padding-left: unset;
  }

  .fullmode {

    font-size: 18px;

    li {
      height: 50px;
      line-height: 40px;


    }

    mat-icon {
      margin-right: 16px;
    }

    .label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tip {
      //display: none;
      //position: relative;
      //left:0px;
    }

    .custom-tip {
      display: none;
    }
  }

  .shortmode {
    text-align: center;
    width: 90px;
    margin: 0 auto;

    li {
      line-height: 40px;
      position: relative;

      &:hover {

        .custom-tip {
          display: inline-block;
        }
      }

    }

    mat-icon {
      font-size: 25px;
      text-align: center;
    }

    .label {
      display: none;
    }


  }

  .custom-tip {
    position: absolute;
    left: 90%;
    top: 12px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    padding: 0 6px;
    //visibility: hidden;
    white-space: nowrap;
    display: none;
    line-height: 28px;
    vertical-align: middle;
  }

  li {
    list-style: none;
    color: #fff;
    //line-height: 24px;
    outline: none;
    padding-left: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: relative;

    & > span {
      padding: 12px;

      &:hover {
        color: #dedede;
        cursor: pointer;
      }
    }

    mat-icon {
      display: inline-flex;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 20px;
    }
  }


  .expert {
    > span {

      position: relative;
    }

    img {
      display: inline-flex;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 20px;
    }

    .label {
      padding-left: 16px;
    }

    .tip {
      text-align: left;
      position: absolute;
      z-index: 3;
      bottom: -10px;
      left: 40px;
      font-size: 8px;
      color: #fff;
    }
  }


}

#separator {
  background-color: rgba(0, 0, 0, 0.2);
  float: right;
  width: 15px;
  height: 100vh;
  line-height: 90vh;
  cursor: grab;
  text-align: center;
  font-size: 30px;
  color: #dedede;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &:active, &:focus {
    cursor: grabbing;
    background-color: rgba(0, 0, 0, 0.4);
  }

}


.slide-in {
  animation: slide-in 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes slide-in {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


