<div id="sidebar" [style.width.px]="currentSidebarWidth">

  <div id="sidebar-menu" *ngIf="currentSidebarWidth > minWidthForContent" [@showAnimation]>

    <ul [ngClass]="currentSidebarWidth > (sideBarWidths[1]*1.1) ? 'fullmode' : 'shortmode'">
      <li>
        <span routerLink="/">
        <mat-icon class="pl-1">arrow_back_ios</mat-icon>
        <span class="label">Back</span>
        </span>
        <div class="custom-tip slide-in">Back</div>
      </li>

      <li>
        <span (click)="hide()">
        <mat-icon>visibility_off</mat-icon>
        <span class="label">Sidebar</span>
        </span>
        <div class="custom-tip slide-in">Hide sidebar</div>
      </li>

      <li>
        <span (click)="print()">
        <mat-icon>camera_alt</mat-icon>
        <span class="label">Print</span>
        </span>
        <div class="custom-tip slide-in">Print</div>
      </li>


      <!--
      <li>
        <span (click)="undo()">
        <mat-icon>undo</mat-icon>
        <span class="label">Undo</span>
        </span>
        <div class="custom-tip slide-in">Undo</div>
      </li>

      <li>
        <span (click)="redo()">
        <mat-icon >redo</mat-icon>
        <span class="label">Redo</span>
        </span>
        <div class="custom-tip slide-in">Redo</div>
      </li>
      -->

      <li>
        <span (click)="getAspect()">
        <mat-icon>sync</mat-icon>
        <span class="label">Refresh</span>
        </span>
        <div class="custom-tip slide-in">Refresh</div>
      </li>

      <li class="expert" *ngIf="expertMode">
        <span (click)="switchExpertMode()">
        <img src="assets/icons/baseline-offline_bolt-24px.svg"/>
        <span class="tip">ON</span>
        <span class="label no-overflow">Expert Mode</span>
        </span>
        <div class="custom-tip slide-in">Fast Mode</div>
      </li>

      <li class="expert" *ngIf="!expertMode">
        <span (click)="switchExpertMode()">
        <img src="assets/icons/outline-offline_bolt-24px.svg"/>
        <span class="tip">OFF</span>
        <span class="label no-overflow">Expert Mode</span>
        </span>
        <div class="custom-tip slide-in">Expert Mode</div>
      </li>

      <li class="help">
        <span (click)="showHelp()">
        <mat-icon>help_outline</mat-icon>
        <span class="label">Help</span>
        </span>
        <div class="custom-tip slide-in">Help</div>
      </li>
    </ul>

  </div>

  <div id="separator" (dblclick)="switchMode()">
    ‖
    <mat-icon>arrow_left</mat-icon>
  </div>
</div>
