@import "~src/styles";

.ctn {
  background: rgb(27, 101, 208);
  background: linear-gradient(
      90deg,
      rgba(27, 101, 208, 1) 0%,
      rgba(42, 197, 255, 0.97) 100%
  );
  height: 100vh;
  width: 100%;

}

.title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 90px;
  color: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}


.box {
  color: $dark-blue;
  font-size: 21px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  vertical-align: middle;
  border-radius: 4px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  padding: 20px 26px;
}

.error {
  color: $red;

  a {
    margin-left: 10px;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    &:hover{

      color: $dark-blue;
      text-decoration: underline;
    }
  }
}
.models {
  width: 100%;
}

.row {
  margin: 15px auto 0;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}


.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0s;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
