<div class="ctn">

  <div class="title fade-in-fwd">
    WebCore
  </div>

  <div class="container text-center">

    <div *ngIf="connectError" class="box error fade-in-bottom mat-elevation-z2">
      Unable to establish a connexion with server. <a (click)="loadModels()">Try again</a>
    </div>

    <div *ngIf="isLoading && !connectError" class="box fade-in-bottom mat-elevation-z2 loader mt-2">
      Loading models...
    </div>

    <div *ngIf="!isLoading" class="models row">
      <div *ngFor="let card of cards; let i=index;"
           class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 text-center fade-in-bottom"
           [style.animation-delay]="i*100+'ms'">

        <app-card-element [element]="card"
                          (click)="selectCurrentModel(card)"></app-card-element>

      </div>
    </div>
  </div>

</div>
