@import "../../../../../styles";


button {
  outline: none !important;
}


mat-dialog-content {
  min-width: 530px;
}

.params-holder {

  .add-form {

    .formito {
      display: inline-block;
    }

    .typeform mat-form-field {
      margin-top: unset;
    }

    .nameform mat-form-field {
      margin-top: unset;
    }
  }

  .param-list {

    .tt{
      text-transform: uppercase;

      button{
        margin-left: 5px;
        padding: 4px;
        background-color: #4685d0;
      }
    }

    .listo{
      max-width: 500px;
      margin-top: 16px;
      .blo{
        padding: 8px;
        background-color: #dedede;
        margin-right: 8px;

        mat-icon{
          margin-bottom: 4px;
          margin-left: 5px;
          vertical-align: middle;
          color: rgba(244, 67, 54,0.7);
          cursor: pointer;

          &:hover{
            color: rgba(244, 67, 54,1);
          }

        }

      }
    }

  }

  .validate {

    padding-left: 5px;
    padding-top: 16px;

    button {
      padding: 6px;

      &:first-child{
        margin-right: 8px;
      }
    }
  }
}

.add-operation {
  vertical-align: middle;
  text-align: center;
  color: rgba(0, 0, 0, .8);
  padding-top: 15px;
  padding-bottom: 15px;

  button {
    border-radius: 4px;
    padding: 5px 10px 5px 4px;
    font-size: 16px;
  }

  .destroy {
    background-color: rgba(244, 67, 54, 0.1);
  }

  .create {
    background-color: rgba(64, 189, 48, 0.1);
  }
}


.error {
  color: $red;
  font-size: 14px;
  text-align: center;

  p {
    margin-bottom: unset;
  }
}

.result {
  font-size: 16px;
  text-align: center;
  color: $blue;
  margin-top: 15px;
}

.visibility mat-form-field {
  width: 120px;
}

.returntype mat-form-field {
  width: 120px;
}

.partiality mat-form-field {
  //width: 120px;
}

mat-dialog-actions {
  float: right;

  button {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.slideForm {
  margin-top: 20px;
}

.loser-row {
  margin-top: 20px;
}
