<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'add'">Add operation for {{opModel.name}}</h2>
<h2 mat-dialog-title class="mb-3" *ngIf="data.mode === 'edit'">Edit operation {{opModel.name}}</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="close()">

    <div class="row">

      <div class="col visibility">
        <mat-form-field>
          <mat-label>Visibility</mat-label>
          <mat-select disableRipple formControlName="visibility">
            <mat-option value="+">public</mat-option>
            <mat-option value="-">private</mat-option>
            <mat-option value="#">protected</mat-option>
            <mat-option value="~">package</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col returntype">
        <mat-form-field>
          <mat-label>Return type</mat-label>
          <mat-select disableRipple formControlName="returnType">
            <mat-option [value]="t" *ngFor="let t of returnTypes">{{t}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col opename">
        <mat-form-field class="nameform">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
      </div>
    </div>


    <div class="row actions">
      <div class="col add-operation" *ngIf="data.mode === 'add'">
        <button mat-stroked-button type="button"
                [ngClass]="constructorDisabled ? '' : 'create'"
                [disabled]="constructorDisabled" (click)="createConstructor()">
          Create constructor
        </button>
      </div>
      <div class="col add-operation" *ngIf="data.mode === 'add'">
        <button mat-stroked-button type="button"
                [ngClass]="destructorDisabled ? '' : 'destroy'"
                [disabled]="destructorDisabled" (click)="createDestructor()">
          Create destructor
        </button>
      </div>
      <div class="col partiality" *ngIf="this.data.mode === 'edit'">
        <mat-form-field>
          <mat-label>Partiality</mat-label>
          <mat-select disableRipple formControlName="partiality">
            <mat-option [value]="elem" *ngFor="let elem of partialities">{{elem}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col" *ngIf="this.data.mode === 'edit'">
        <mat-slide-toggle class="slideForm" matInput formControlName="abstract">Is Abstract</mat-slide-toggle>
      </div>

      <div class="col">
        <span></span>
      </div>

    </div>


    <div class="params-holder border-top pt-3">

      <div *ngIf="!showAddParam" class="param-list">
        <span class="tt"> <b>{{parameters.length}}</b> Parameter{{parameters.length > 1 ? 's' : ''}}
          <button mat-raised-button color="primary" (click)="showParamForm()">
            ADD
          </button>
        </span>
        <div class="listo">
          <span *ngFor="let p of parameters; let i = index;" class="blo">
           <span class="type">{{p.type}}</span>
            <span class="name"> {{p.name}}</span>
            <span class="rekt">
              <mat-icon (click)="removeParam(i,p)">close</mat-icon>
            </span>
          </span>
        </div>
      </div>

      <div *ngIf="showAddParam" class="add-form row">
        <span class="col typeform formito">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select disableRipple formControlName="newParamType">
              <mat-option [value]="t" *ngFor="let t of parameterTypes">{{t}}</mat-option>
            </mat-select>
          </mat-form-field>
        </span>

        <span class="col nameform formito">
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="newParamName">
          </mat-form-field>
        </span>

        <span class="col validate formito" *ngIf="showAddParam">
          <button mat-raised-button color="primary" (click)="addParameter()" type="button">
            ADD
          </button>
          <button mat-raised-button (click)="showAddParam = false" type="button">
            Cancel
          </button>
        </span>
      </div>


    </div>

  </form>

  <div class="error" *ngIf="!isValid">
    <p>All fields are required</p>
  </div>


  <div class="result" *ngIf="getResult() !== ''">
    <span>{{getResult()}}</span>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="buttons">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button (click)="close()" type="submit" color="primary">OK</button>
  </div>
</mat-dialog-actions>

