@import "~src/styles";

.elem {
  user-select: none;
  padding: 26px 16px;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    background-color: #fff;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
  }

  .name {
    color:$blue;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 16px;
  }

  .view {
    font-style: italic;
    font-weight: 300;
    color:rgba(0,0,0,0.7);
    font-size: 16px;
  }



}
